/* Google font */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand&display=swap');

/* font-family: 'Pacifico', cursive;
font-family: 'Quicksand', sans-serif; */

* {
    padding: 0;
    margin: 0;
    border: 0;
    /* outline: 1px solid black; */
    font-family: 'Quicksand', sans-serif;
    background-origin: border-box;
    box-sizing: border-box;
    background-color: rgb(247, 242, 231);
}

.maincontent {
    width: 100vw;
    height: 100%;
}

.maincontent h1,
#about h2 {
    font-family: Pacifico, sans-serif;
    color: rgb(75, 65, 48);
}

/* nav elements */

.headerwrapper {
    position: relative;
    float: left;
    height: 150px;
    width: 100%;
}

#logowrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: 190px;
    background: url('../images/ATV_PlaceholderImage.png') no-repeat left center;
}

#homebutton,
#discoverbutton,
#contactbutton {
    float: right;
    position: relative;
    clear: left;
    right: 30px;
    top: 30%;
    margin: 0 30px;
}

/* hamburger */

#menutoggle {
    opacity: 0;
}

.menubtn {
    z-index: 0;
    position: fixed;
    top: -100px;
    right: -20px;
    width: 26px;
    height: 26px;
    color: rgb(247, 242, 231);
}

.menubox {
    z-index: 0;
    display: block;
    position: fixed;
    right: 0;
    top: -200%;
    width: 40%;
    list-style: none;
}

.menuitem {
    display: block;
    padding: 8px 14px;
    color: rgb(247, 242, 231);
    line-height: 30px;
    font-family: Quicksand, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    transition-delay: .5s;
    transition-duration: .25s;
    position: relative;
    top: -60px;
}

@media screen and (max-width: 660px) {

    #homebutton,
    #discoverbutton,
    #contactbutton {
        float: right;
        position: absolute;
        clear: left;
        right: 30px;
        top: -300%;
        margin: 0 30px;
    }

    #menutoggle {
        opacity: 0;
    }

    #menutoggle:checked~.menubtn {
        transform: rotate(90deg);
    }

    #menutoggle:checked~.menubox {
        top: 0 !important;
    }

    .menubtn {
        z-index: 99;
        position: fixed;
        top: 20px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        color: rgb(94, 87, 65);
        transition-duration: .3s;
        transition-delay: .2s;
        transition-timing-function: ease-in-out;
    }

    .menubox {
        z-index: 6;
        display: block;
        position: fixed;
        right: 0;
        top: -200%;
        width: 40%;
        height: auto;
        margin: 0;
        padding: 60px 0;
        list-style: none;
        background-color: rgb(247, 242, 231);
        box-shadow: 3px 3px 8px rgba(0, 0, 0, .3);
        transition-duration: .5s;
        transition-timing-function: ease-in-out;
    }

    .menuitem {
        display: block;
        padding: 8px 14px;
        margin: 4px 0;
        line-height: 30px;
        color: rgb(94, 87, 65);
        font-family: Quicksand, sans-serif;
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
        transition-delay: .5s;
        transition-duration: .25s;
        position: relative;
        top: -60px;
    }

    #menutoggle:checked~.menubox .menuitem {
        position: relative;
        top: 0px;
    }

    .menuitem:hover {
        background-color: rgba(255, 255, 255, 0);
    }
}

/* button effects */
#homebutton,
#discoverbutton,
#contactbutton {
    transition: transform 0.4s ease-out;
}

#homebutton:hover,
#discoverbutton:hover,
#contactbutton:hover {
    transform: translate(0, -3px);
}

.active {
    transform: translate(0, -3px);
}

.active a {
    text-underline-position: under;
    text-decoration: solid underline rgba(75, 65, 48, 1) 2px;
}

/* links styling */

a {
    font-family: Quicksand, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: rgb(75, 65, 48);
    position: relative;
    cursor: pointer;
}

@media screen and (min-width: 2560px) {
    a {
        font-size: 30px;
    }
}


div a::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: rgba(182, 158, 118, 0);
    transform-origin: right top;
    transform: scale(0);
    transition: transform 0.2s ease-in;
}

div a:hover::before {
    transform: scale(1);
    background-color: rgba(75, 65, 48, 1);
}

/* hero image & welcome text */

#heroimage {
    overflow: hidden;
    height: 445px;
    width: 100%;
    background: url('../images/ATV_PlaceholderHero.png') no-repeat center center;
    position: relative;
}

#welcometext {
    position: absolute;
    overflow: hidden;
    left: 10%;
    top: 10%;
    height: 100px;
    width: 250px;
}

#welcometext h1,
#aboutbutton {
    padding: 0 15px 10px 15px;
}

#aboutbutton {
    padding: 10px 20px;
}

/* large screen welcome text changes */

@media screen and (max-width: 1200px) {
    #welcometext {
        position: absolute;
        overflow: hidden;
        left: 5%;
        top: 10%;
        height: 100px;
        width: 250px;
    }
}

@media screen and (min-width: 2560px) {
    #welcometext {
        position: absolute;
        overflow: hidden;
        left: 15%;
        top: 20%;
        height: 180px;
        width: 300px;
    }
}

/* small screen welcome text changes */

@media screen and (max-width: 440px) {
    #welcometext {
        position: absolute;
        overflow: hidden;
        left: 5%;
        top: 70%;
        height: 80px;
        width: 200px;
    }
}


/* about section */

#about {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: center;
    row-gap: 10px;
}

#about div {
    display: flex;
    width: 33%;
    min-width: 300px;
    max-width: 460px;
    height: 500px;
    font-size: 20px;
    justify-content: center;
}

@media screen and (min-width: 1440px) {
    #about div {
        max-width: 600px;
    }
}

@media screen and (min-width: 2560px) {
    #about div {
        max-width: 700px;
        font-size: 30px;
    }
}

#aboutleft {
    order: 1;
    flex: 1 1 30%;
}

#aboutright {
    order: 3;
    flex: 1 1 30%;
}

#aboutcenter {
    order: 2;
    flex: 1 1 30%;
}

/* footer */

footer {
    width: 100%;
    height: 30px;
    clear: both;
    padding: 0;
    margin: 0;
}

/* form styles */

.whitespace {
    clear: both;
    width: 100vw;
    height: 30px;
}

.contactform h1 {
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
}