/* Google font */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand&display=swap');

/* font-family: 'Pacifico', cursive;
font-family: 'Quicksand', sans-serif; */

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

.maincontent {
    width: 100vw;
    height: 100%;
}

.maincontent h1, #about h2 {
    font-family: Pacifico, sans-serif;
    color: rgb(75, 65, 48);
}

/* nav elements */

.headerwrapper {
    position: relative;
    float: left;
    height: 150px;
    width: 100%;
    background-color: brown;
}

#logowrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: 190px;
    background: url('../images/ATV_PlaceholderImage.png') no-repeat left center;
}

#homebutton, #discoverbutton, #contactbutton {
    float: right;
    position: relative;
    right: 30px;
    top: 40%;
    margin: 0 30px;
}

/* button effects */
#homebutton, #discoverbutton, #contactbutton {
    transition: transform 0.4s ease-out;
}

#homebutton:hover, #discoverbutton:hover, #contactbutton:hover {
    transform: translate(0, -3px);
}

.active {
    transform: translate(0, -3px);
}

.active a {
    text-underline-position: under;
    text-decoration: solid underline rgba(75, 65, 48, 1) 2px;
}

/* links styling */

a {
    font-family: Quicksand, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: rgb(75, 65, 48);
    position: relative;
}

@media screen and (min-width: 2560px) {
    a {
        font-size: 40px;
    }
}


a::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: rgba(182, 158, 118, 0);
    transform-origin: right top;
    transform: scale(0);
    transition: transform 0.2s ease-in;
}

a:hover::before {
    transform: scale(1);
    background-color: rgba(75, 65, 48, 1);
}

/* hero image & welcome text */

#heroimage {
    overflow: hidden;
    height: 445px;
    width: 100%;
    background: url('../images/ATV_PlaceholderHero.png') no-repeat center center;
    background-color: blueviolet;
    position: relative;
}

#welcometext {
    position: absolute;
    overflow: hidden;
    left: 10%;
    top: 10%;
    height: 100px;
    width: 250px;
    background-color: brown;
}

#welcometext h1, #aboutbutton {
    padding: 0 15px 10px 15px;
}

#aboutbutton {
    padding: 10px 20px;
}

/* large screen welcome text changes */

@media screen and (max-width: 1200px) {
    #welcometext {
        position: absolute;
        overflow: hidden;
        left: 5%;
        top: 10%;
        height: 100px;
        width: 250px;
        background-color: brown;
    }
}

@media screen and (min-width: 2560px) {
    #welcometext {
        position: absolute;
        overflow: hidden;
        left: 15%;
        top: 20%;
        height: 180px;
        width: 300px;
        background-color: brown;
    }
}

/* small screen welcome text changes */

@media screen and (max-width: 440px) {
    #welcometext {
        position: absolute;
        overflow: hidden;
        left: 5%;
        top: 70%;
        height: 80px;
        width: 200px;
        background-color: brown;
    }
}


/* about section */

#about {
    background-color: aqua;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    row-gap: 10px;
}

#about div {
    display: flex;
    width: 33%;
    min-width: 300px;
    max-width: 420px;
    height: 500px;
    background-color: blue;
    font-size: 20px;
    justify-content: center;
}

#aboutleft {
    order: 1;
    flex: 1 1 30%;
}

#aboutright {
    order: 3;
    flex: 1 1 30%;
}

#aboutcenter {
    order: 2;
    flex: 1 1 30%;
}

