/* Google font */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand&display=swap');

/* font-family: 'Pacifico', cursive;
font-family: 'Quicksand', sans-serif; */

* {
    padding: 0;
    margin: 0;
    border: 0;
    /* outline: 1px solid black; */
    font-family: 'Quicksand', sans-serif;
    background-origin: border-box;
    box-sizing: border-box;
}

body {
    /* background-color: rgb(247, 242, 231); */
    background: linear-gradient(0deg, rgb(255, 253, 241), rgb(247, 242, 231), rgb(247, 242, 231));
}

.maincontent {
    width: 100%;
    height: 100%;
}

h1 {
    font-family: Pacifico, sans-serif;
    color: rgb(226, 63, 79);
}

#bunting {
    position: absolute;
    top: 0;
    width: 100%;
    height: 500px;
    background: url('../images/Bunting.svg') no-repeat top left;
    background-size: 2000px;
    z-index: 2;
}


@media screen and (max-width: 540px) {
    #bunting {
        top: -50px;
    }
}



/* nav elements */

.headerwrapper {
    position: relative;
    float: left;
    height: 150px;
    width: 100%;
}

#logowrapper {
    position: absolute;
    top: 0;
    left: 50px;
    height: 150px;
    padding: 20px 0 0 20px;
    font-weight: bold;
    font-size: 160%;
    z-index: 3;
}

#logowrapper h1 {
    text-shadow: 2px 3px 0px #fff, 7px 6px 0px rgba(0, 0, 0, 0.15);
}

#homebutton,
#discoverbutton,
#contactbutton {
    float: right;
    position: relative;
    clear: left;
    right: 70px;
    top: 25%;
    margin: 0 14px;
    z-index: 3;
}

#homebutton a,
#discoverbutton a,
#contactbutton a {
    color: rgb(63, 54, 40);
}

/* hamburger */

#menutoggle {
    opacity: 0;
}

.menubtn {
    z-index: 0;
    position: fixed;
    top: -100px;
    right: -20px;
    width: 26px;
    height: 26px;
    color: rgb(247, 242, 231);
    background-color: rgba(0, 0, 0, 0);
}

.menubox {
    z-index: 0;
    display: block;
    position: fixed;
    right: 0;
    top: -200%;
    width: 40%;
    list-style: none;
    border-radius: 5px 5px 5px 25px;
}

.menubox li a {
    color: rgb(63, 54, 40);
}

.menuitem {
    display: block;
    padding: 8px 14px;
    color: rgb(247, 242, 231);
    line-height: 30px;
    font-family: Quicksand, sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition-delay: .5s;
    transition-duration: .25s;
    position: relative;
    top: -60px;
}

@media screen and (max-width: 768px) {

    #logowrapper {
        padding: 30px 0 0 20px;
        font-size: 140%;
        left: 30px;
    }

    #homebutton,
    #discoverbutton,
    #contactbutton {
        z-index: 0;
        float: right;
        position: absolute;
        clear: left;
        right: 15px;
        top: -300%;
        margin: 0 14px;
    }

    #menutoggle {
        opacity: 0;
    }

    #menutoggle:checked~.menubtn {
        transform: rotate(90deg);
    }

    #menutoggle:checked~.menubox {
        top: 0 !important;
    }

    .menubtn {
        font-size: 24px;
        opacity: 70%;
        z-index: 99;
        position: fixed;
        top: 5px;
        right: 10px;
        cursor: pointer;
        color: rgb(94, 87, 65);
        transition-duration: .3s;
        transition-delay: .2s;
        transition-timing-function: ease-in-out;
    }

    .menubox {
        z-index: 6;
        display: block;
        position: fixed;
        right: 0;
        top: -200%;
        width: 30%;
        height: auto;
        margin: 0;
        padding: 60px 0;
        list-style: none;
        background-color: rgb(247, 242, 231);
        box-shadow: 3px 3px 8px rgba(0, 0, 0, .3);
        transition-duration: .5s;
        transition-timing-function: ease-in-out;
    }

    .menuitem {
        display: block;
        padding: 8px 14px;
        margin: 4px 0;
        line-height: 30px;
        color: rgb(94, 87, 65);
        font-family: Quicksand, sans-serif;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        transition-delay: .5s;
        transition-duration: .25s;
        position: relative;
        top: -60px;
    }

    #menutoggle:checked~.menubox .menuitem {
        position: relative;
        top: 0px;
    }

    .menuitem:hover {
        background-color: rgba(255, 255, 255, 0);
    }
}

/* button effects */
#homebutton,
#discoverbutton,
#contactbutton {
    transition: transform 0.4s ease-out;
}

#homebutton:hover,
#discoverbutton:hover,
#contactbutton:hover {
    transform: translate(0, -3px);
}

.active {
    transform: translate(0, -3px);
}

.active a {
    border-bottom: 2px solid rgb(63, 54, 40);
}

/* links styling */

a {
    font-family: Quicksand, sans-serif;
    font-size: 120%;
    font-weight: bolder;
    text-decoration: none;
    font-weight: bolder;
    color: rgb(75, 65, 48);
    position: relative;
    cursor: pointer;
}

@media screen and (min-width: 2560px) {
    a {
        font-size: 150%;
    }
}

@media screen and (max-width: 1000px) {
    a {
        font-size: 100%;
    }
    #homebutton,
    #discoverbutton,
    #contactbutton {
        right: 40px;
        margin: 0 14px;
    }
}

@media screen and (max-width: 440px) {
    a {
        font-size: 110%;
    }
}


.headerwrapper a::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1.5px;
    bottom: -3px;
    left: 0;
    background-color: rgba(182, 158, 118, 0);
    transform-origin: right top;
    transform: scale(0);
    transition: transform 0.2s ease-in;
}

.headerwrapper a:hover::before {
    transform: scale(1);
    background-color: rgb(63, 54, 40);
}

/* hero image & welcome text */

#heroimage {
    margin-top: 0;
    overflow: hidden;
    height: 445px;
    width: 90%;
    margin-left: 5%;
    background: url('../images/HeroImage2.webp') no-repeat center center;
    background-size: cover;
    position: relative;
    border-radius: 15px;
}

#welcometext {
    background-color: rgba(247, 242, 231, .7);
    position: relative;
    overflow: hidden;
    left: 82%;
    top: 76%;
    height: fit-content;
    width: fit-content;
    padding: 10px 20px 10px 20px;
    border: 1px solid rgb(75 65 48 / 50%);
    border-radius: 25px 10px 25px 10px;
    box-shadow: 1px 2px 4px -1px rgba(241, 228, 206, 0.7);
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

#welcometext h2 {
    font-size: 100%;
    font-family: Pacifico, sans-serif;
    font-weight: lighter;
    text-align: left;
    color: rgb(75, 65, 48);
    text-shadow: 1px 1px 3px rgba(247, 242, 231, 1);
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

#welcometext:hover {
    background-color: rgba(247, 242, 231, 1);
}

/* large screen welcome text changes */

@media screen and (min-width: 2000px) {
    #welcometext {
        font-size: 160%;
        top: 65%;
    }
}

/* small screen welcome text changes */

@media screen and (max-width: 768px) {
    #welcometext {
        position: relative;
        left: 72%;
        top: 80%;
    }
}

@media screen and (max-width: 450px) {
    #welcometext {
        position: relative;
        left: 55%;
        top: 80%;
    }
}


/* about section */

#about {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: center;
    row-gap: 10px;
}

#about div {
    min-width: 300px;
    max-width: 460px;
    height: fit-content;
    font-size: 16px;
    line-height: 150%;
    padding: 15px;
    margin: 15px;
    border: 1px solid rgba(179, 157, 119, 0.1);
    border-radius: 5px;
    box-shadow: 1px 2px 4px -1px rgba(241, 228, 206, 0.5);
    background-color: rgb(247, 242, 231);
}

#about h3 {
    font-size: 170%;
    font-weight: lighter;
    font-family: Pacifico, sans-serif;
    color: rgb(97, 84, 63);
    line-height: 40px;
    margin: 40px 15px 0px 15px;
    text-align: center;
}

@media screen and (min-width: 1440px) {
    #about div {
        max-width: 600px;
    }
}

@media screen and (min-width: 2560px) {
    #about div {
        max-width: 700px;
        font-size: 20px;
    }
}

#about p  {
    font-size: 14px;
    margin: 20px 15px 0 15px;
    color: rgb(75, 65, 48);
}

#aboutleft {
    position: relative;
    order: 1;
    flex: 0 0 25%;
    text-align: left;
}

#aboutright {
    position: relative;
    order: 3;
    flex: 0 0 25%;
    text-align: right;
}

#aboutcenter {
    position: relative;
    order: 2;
    flex: 0 0 25%;
    text-align: center;
}

/*  Doodads */

#about .l_doodads {
    display: flex;
    width: 100%;
    height: 5px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    justify-content: center;
}

#ct_doodads:nth-child(odd) {
    position: absolute;
    float: left;
    top: 0;
    left: 0;
    padding: 3px;
}

#ct_doodads:nth-child(even) {
    position: absolute;
    float: right;
    padding: 3px;
    top: 0;
    right: 0;
    transform: scaleX(-1);
}

#cb_doodads:nth-child(odd) {
    position: absolute;
    float: left;
    left: 0;
    bottom: 0;
    padding: 3px;
    transform: scaleY(-1);
}

#cb_doodads:nth-child(even) {
    position: absolute;
    float: right;
    padding: 3px;
    right: 0;
    bottom: 0;
    transform: scale(-1, -1);
} 

/* about section responsive elements */

@media screen and (max-width: 768px) {

    #about {
        width: 94%;
        margin-left: 3%;
    }

    #aboutcenter,
    #aboutright,
    #aboutleft {
        text-align: center;
        flex: 0 0 30%;
    }

    #about div {
        padding: 8px;
        margin: 8px;
    }

    #about p  {
        font-size: 16px;
    }
}


/* footer */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 120px;
    clear: both;
    padding: 0;
    margin: 0;
}

footer p {
    float: left;
    position: absolute;
    bottom: 15%;
    left: 7%;
    font-size: 12px;
}

.socialmedia {
    display: flex;
    position: relative;
    top: 50px;
    width: 100%;
    height: fit-content;
    justify-content: right;
    font-size: 20px;
    padding-right: 5%;
}

.socialmedia i {
    margin: 0 10px;
    margin-right: 30px;
    color: rgb(226, 63, 79);
}

/* static form elements */

#contacttext h2 {
    padding-top: 20px;
    font-size: 28px;
    font-weight: lighter;
    text-align: center;
    font-family: 'Pacifico', sans-serif;
    color: rgb(75, 65, 48);
}

legend {
    padding: 15px 0;
    font-size: 22px;
    text-align: center;
    color: rgb(75, 65, 48);
}

.whitespace {
    clear: left;
    left: 0;
    width: 100%;
    height: 60px;
}

/* form styles */

form {
    width: 60%;
    height: auto;
    padding-bottom: 30px;
    margin-left: 20%;
    clear: both;
    font-size: 18px;
    box-shadow: 1px 2px 4px -1px rgb(75 65 48 / 90%);
    border-radius: 25px 10px 25px 10px;
    background-color: rgb(247, 242, 231);
    opacity: 95%;
}

#contacttext {
    width: 40%;
    height: auto;
    padding-bottom: 30px;
    margin-left: 30%;
    margin-bottom: 20px;
    clear: both;
    font-size: 16px;
    box-shadow: 1px 2px 4px -1px rgb(75 65 48 / 90%);
    border-radius: 25px 10px 25px 10px;
    background-color: rgb(247, 242, 231);
    opacity: 95%;
}

#contacttext p{
    padding: 26px 10px 10px 10px;
    font-size: 14px;
}

.contactform {
    position: relative;
    width: 90%;
    margin-left: 5%;
    height: fit-content;
    text-align: center;
    padding: 60px 0 180px 0;
    background: url('../images/Contact_Picture.webp') no-repeat center center;
    background-size: cover;
    border-radius: 5px;
}

.contactform input,
textarea {
    background-color: rgba(241, 228, 206, 0.3);
}

label,
#firstname,
#lastname,
#email {
    margin: 5px 2px;
}

#submitbtn {
    position: relative;
    display: block;
    border: 1px solid rgba(94, 87, 65, 0.25);
    border-radius: 3px;
    padding: 5px;
    margin: 5px 5px 5px 10%;
    background-color: rgba(94, 87, 65, 0.1);
    color: black;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bolder;
    transition-duration: .3s;
    transition-timing-function: ease-out;
}

#resetbtn {
    float: left;
    border: 1px solid rgba(94, 87, 65, 0.25);
    border-radius: 3px;
    padding: 5px;
    margin: 5px 5px 5px 10%;
    background-color: rgba(94, 87, 65, 0.1);
    color: black;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bolder;
    transition-duration: .3s;
    transition-timing-function: ease-out;
}

#resetbtn:hover,
#submitbtn:hover {
    background-color: rgba(94, 87, 65, 0.3);
}

input[type=text],
input[type=email],
textarea {
    font-size: 16px;
    border: 1px solid rgb(75 65 48 / 15%);
    box-shadow: 1px 2px 4px -1px rgb(75 65 48 / 30%);
    border-radius: 3px;
}

textarea {
    width: 80%;
    resize: vertical;
}

/* responsive large screen */

@media screen and (min-width: 1940px) {

    .contactform {
        padding: 120px 0 400px 0;
    }

    form {
        width: 40%;
        margin-left: 30%;
        font-size: 24px;
    }

    label,
    #firstname,
    #lastname,
    #email {
        margin: 10px 10px;
        padding: 0 10px;
    }

    legend {
        font-size: 24px;
        padding: 15px 0;
        text-align: center;
    }

    input[type=text],
    input[type=email],
    textarea {
        font-size: 24px;
    }

    .lrgrespformlbl {
        display: block;
    }

    #submitbtn {
        font-size: 20px;
    }

    #resetbtn {
        font-size: 20px;
    }
}

@media screen and (max-width: 1400px) {
    .lrgrespformlbl {
        display: block;
    }
}

/* responsive small screen */

@media screen and (max-width: 1000px) {
    .smlrespformlbl {
        display: block;
    }

    #logowrapper {
        padding: 30px 0 0 20px;
        font-size: 140%;
        left: 25px;
    }

    #heroimage {
        background-size: 160%;
        border-radius: 25px;
    }

    h2 {
        font-size: 22px;
    }
}

@media screen and (max-width: 768px) {
    #heroimage {
        background-size: 210%;
        border-radius: 15px;
    }

    .socialmedia {
        justify-content: center;
        padding-right: 0;
    }

    .socialmedia i {
        margin: 0 15px;
    }

}

/* responsive mobile */

@media screen and (max-width: 530px) {
    .smlrespformlbl {
        display: block;
    }

    legend {
        font-size: 18px;
    }

    #submitbtn {
        font-size: 12px;
    }
    
    #resetbtn {
        font-size: 12px;
    }

    .menubox {
        width: 40%;
    }

    #logowrapper {
        font-size: 95%;
        padding: 9% 4px 0 12px;
        text-align: center;
        left: 0;
    }

    #heroimage {
        background-size: 380%;
        border-radius: 20px;
    }

    form {
        width: 80%;
        margin-left: 10%;
        font-size: 16px;
    }

    .contactform {
        padding: 25px 0 5px 0;
    }

    #contacttext {
        width: 70%;
        margin-left: 15%;
    }

    #contacttext p {
        font-size: 14px;
        padding: 10px;
    }

    .whitespace {
        height: 30px;
    }

    footer p {
        float: left;
        position: absolute;
        bottom: 10%;
        left: 32%;
    }
}

/* gallery */

.gallerycontent {
    height: fit-content;
    width: 100%;
}

.losefocus {
    display: flex;
    position: fixed;
    height: 200%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(247, 242, 231);
    z-index: -1;
    visibility: hidden;
    align-content: center;
}

.gallery-grid {
    width: 90%;
    margin-left: 5%;
    /* --gap: 2px; */
    /* --num-cols: 8; */
    /* --row-height: fit-content; */

    box-sizing: border-box;
    /* padding: var(--gap); */
    padding: 2px;

    display: grid;
    /* grid-template-columns: repeat(var(--num-cols), 1fr); */
    /* grid-auto-rows: var(--row-height); */
    grid-template-columns: repeat(8, 1fr);
    /* gap: var(--gap); */
    gap: 2px;
    grid-auto-flow: row;
}

.gallery-item {
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    background-color: rgb(247, 242, 231);
}

.gallery-item img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 95%;
    transform: scale(0.999);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    border-radius: 5px;
    cursor: pointer;
}

.gallery-item img:hover {
    opacity: 100%;
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
    transform: scale(1.04);;
    animation: imageflash 1s;
}

@keyframes imageflash {
    from {filter: brightness(130%)}
    to {filter: brightness(100%)}
  }

.gallery-item:focus {
    position: fixed;
    top: 4%;
    justify-self: center;
    opacity: 100%;
    height: 84vh;
    width: fit-content;
    border: 1px solid rgb(247, 242, 231);
    z-index: 5;
}

.gallery-item:focus img:hover {
    opacity: 100%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    animation: none;
}

.gallery-item:focus ~ .losefocus {
    z-index: 4;
    visibility: visible;
}

.portrait {
    grid-column: span 2;
    grid-row: span 3;
}

.landscape {
    grid-column: span 2;
    grid-row: span 2;
}

.smallimage {
    grid-column: span 1;
    grid-row: span 1;
}

/* Gallery udner 768px */

@media screen and (max-width: 768px) {
    .portrait {
        grid-column: span 4;
        grid-row: span 6;
    }

    .landscape {
        grid-column: span 4;
        grid-row: span 4;
    }

    .smallimage {
        grid-column: span 2;
        grid-row: span 2;
    }

    .gallery-item:focus {
        top: 90px;
        opacity: 100%;
        height: 70vh;
        width: 96vw;
    }
}

/* Gallery udner 420px */

@media screen and (max-width: 420px) {
    .portrait {
        grid-column: span 8;
        grid-row: span 12;
    }

    .landscape {
        grid-column: span 8;
        grid-row: span 8;
    }

    .smallimage {
        grid-column: span 4;
        grid-row: span 4;
    }

    .gallery-item:focus {
        align-items: center;
        position: fixed;
        top: 70px;
        height: 70vh;
    }

    .gallery-item:focus>img {
        width: 180%;
        height: fit-content;
    }

    figure > figcaption {
        font-size: 13px;
    }

}

/* Gallery text */

.overlaytext {
    position: relative;
    display: flex;
    align-content: center;
}

figcaption {
    position: fixed;
    top: 8px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(63, 54, 40);
    background-color: rgba(247, 242, 231, 1);
    border-radius: 5px;
    padding: 1px 10px;
    visibility: hidden;
}

.gallery-item:focus > figcaption {
    visibility: visible;
}

